demo/target/
demo/pom.xml.tag
demo/pom.xml.releaseBackup
demo/pom.xml.versionsBackup
demo/pom.xml.next
release.properties
demo/dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar